name: Deploy Application to EKS with KEDA & ALB

on:
  push:
    branches: [ main ]
    paths:
      - "k8s/cluster/**"
      - ".github/workflows/k8s.yml"
  pull_request:
    branches: [ main ]
    paths:
      - "k8s/cluster/**"
      - ".github/workflows/k8s.yml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      CLUSTER_NAME: llm-cluster

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --name ${{ env.CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }}

      - name: Apply namespaces
        run: kubectl apply -f k8s/cluster/namespaces.yaml

      - name: Create Docker registry secret
        run: |
          kubectl create secret docker-registry regcred \
            --docker-server=https://index.docker.io/v1/ \
            --docker-username=${{ secrets.DOCKERHUB_USERNAME }} \
            --docker-password=${{ secrets.DOCKERHUB_TOKEN }} \
            --docker-email=youremail@example.com \
            -n app \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Install Helm
        run: |
          if ! command -v helm >/dev/null 2>&1; then
            curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          else
            echo "Helm already installed"
          fi
      - name: Install KEDA
        run: |        
          helm repo add kedacore https://kedacore.github.io/charts
          helm repo update
          helm upgrade --install keda kedacore/keda --namespace keda --create-namespace


      - name: Install aws-load-balancer-controller via Helm
        run: |
          kubectl apply -f k8s/cluster/alb-serviceaccount.yaml
          helm repo add eks https://aws.github.io/eks-charts || true
          helm repo update
          helm upgrade --install aws-load-balancer-controller eks/aws-load-balancer-controller \
            -n kube-system \
            --create-namespace \
            --set clusterName=${{ env.CLUSTER_NAME }} \
            --set region=${{ secrets.AWS_REGION }} \
            --set vpcId=${{ secrets.VPC_ID }} \
            --set serviceAccount.create=false \
            --set serviceAccount.name=aws-load-balancer-controller
          kubectl rollout status deployment/aws-load-balancer-controller -n kube-system

      - name: Install Cluster Autoscaler via Helm
        run: |
          kubectl apply -f k8s/cluster/cluster-autoscaler-serviceaccount.yaml
          helm repo add autoscaler https://kubernetes.github.io/autoscaler || true
          helm repo update
          helm upgrade --install cluster-autoscaler autoscaler/cluster-autoscaler \
            --namespace kube-system \
            --create-namespace \
            --set autoDiscovery.clusterName=${{ env.CLUSTER_NAME }} \
            --set awsRegion=${{ secrets.AWS_REGION }} \
            --set cloudProvider=aws \
            --set rbac.create=true \
            --set rbac.serviceAccount.create=false \
            --set rbac.serviceAccount.name=cluster-autoscaler \
            --set extraArgs.balance-similar-node-groups=true \
            --set extraArgs.skip-nodes-with-local-storage=false \
            --set extraArgs.skip-nodes-with-system-pods=false \
            --set extraArgs.expander=least-waste \
            --set image.tag=v1.32.1
          kubectl --namespace=kube-system get pods

      - name: Deploy application manifests
        run: |
         kubectl apply -f k8s/cluster/worker-scaledobject.yaml
      
      - name: Install Prometheus
        run: |
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo update
          helm upgrade --install prometheus prometheus-community/kube-prometheus-stack \
          --namespace app --create-namespace \
          --set prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues=false \
          --set grafana.enabled=false
        
      - name: Install Grafana
        run: |
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo update
          helm upgrade --install grafana grafana/grafana \
          --namespace app \
          --create-namespace \
          --set adminUser=admin \
          --set adminPassword='${{ secrets.grafana }}' \
          --set service.type=ClusterIP \
          --set ingress.enabled=false


      - name: Verify deployment
        run: |
          kubectl get pods -n app
          kubectl get ingress -n app
          kubectl get svc -n app
